<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>filters.RequestLoggingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>

    <!--Servlet Filters are generally used for client requests but sometimes we want to apply filters with
     RequestDispatcher also, we can use dispatcher element in this case, the possible values
     are REQUEST, FORWARD, INCLUDE, ERROR and ASYNC. If no dispatcher is defined then it’s applied only
     to client requests.-->
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!--container first processes the url-patterns and then servlet-names-->
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--<servlet-name>login</servlet-name>-->
    </filter-mapping>

</web-app>